    header {
      text-align: center;
      background-color: #3a5f6d;
      background-size: cover;
      color: white;
    }
    #profile {
      width: 20%;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid #f44253;
      border-radius: 360px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
      #about{
        font-family: 'Roboto', sans-serif;
        margin-right: 50%;
        font-size: 1000px;
      }
    }
